@model WebApplication1.ViewModel.DelivaryWithOrderListVM

@{
    ViewData["Title"] = "ShowProfile";
}

<h1>ShowProfile</h1>
<div class="row">
    <div class="col-md-4">
        <form asp-action="ShowProfile" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="@Model.UserName" class="control-label"></label>
                <input disabled asp-for="@Model.UserName" class="form-control" />
                <span asp-validation-for="@Model.UserName" class="text-danger"></span>
            </div>
       @*      <div class="form-group">
                <label asp-for="@Model.Email" class="control-label"></label>
                <input asp-for="@Model.Email" class="form-control" />
                <span asp-validation-for="@Model.Email" class="text-danger"></span>
            </div>*@
             <div class="form-group">
                <label asp-for="@Model.Address" class="control-label"></label>
                <input disabled asp-for="@Model.Address" class="form-control" />
                <span asp-validation-for="@Model.Address" class="text-danger"></span>
            </div>
     @*       <div class="form-group">
                <label asp-for="@Model.PhoneNumber" class="control-label"></label>
                <input asp-for="@Model.PhoneNumber" class="form-control" />
                <span asp-validation-for="@Model.PhoneNumber" class="text-danger"></span>
            </div>*@

            <div class="form-group">
                <label asp-for="@Model.SSN" class="control-label"></label>
                <input disabled asp-for="@Model.SSN" class="form-control" />
                <span asp-validation-for="@Model.SSN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.SSNImageName" class="control-label"></label>
                <input disabled asp-for="@Model.SSNImageName" class="form-control" />
                <span asp-validation-for="@Model.SSNImageName" class="text-danger"></span>
            </div>

            <div class="form-group form-check">
                <label class="form-check-label">
                    <input disabled class="form-check-input" asp-for="IsBusy" /> @Html.DisplayNameFor(model => model.IsBusy)
                </label>
            </div>

        @*    <div class="form-group">
                <label asp-for="@Model.IsBusy" class="control-label"></label>
                <input asp-for="@Model.IsBusy" class="form-control" />
                <span asp-validation-for="@Model.IsBusy" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="@Model.AccountNumber" class="control-label"></label>
                <input disabled asp-for="@Model.AccountNumber" class="form-control" />
                <span asp-validation-for="@Model.AccountNumber" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" hidden value="Save" class="btn btn-primary" />
            </div>
            <br />
            <div class="form-group">
                <input type="button" value="Edit" id="edit" class="btn btn-primary" />
            </div>
            <div class="form-group">
                <input hidden type="text" asp-for="@Model.ID" />
            </div>
        </form>
    </div>
</div>

@*<select class="form form-control">
    @foreach (var item in Model.Orders)
    {
        <option>@item</option>
    }
</select>*@
@*<div>
    
    <a asp-action="Edit">Back to List</a>
</div>*@
@section Scripts{
<script>
    $('#edit').click(function () {
        $('input[type="text"]').removeAttr("disabled");
        $('input[type="checkbox"]').removeAttr("disabled")
        $('input[type="submit"]').removeAttr("hidden");
        $('input[type="text"]').removeAttr("style");
    });
</script>
}
