@using WebApplication1.ViewModel
@model CustomerProfileVM
@{
    ViewData["Title"] = "CustomerProfile";
}

<div class="row">
    <div class="col-md-4">
        <form asp-action="CustomerProfile" method="post" style="width:1000px;margin-top:100px;margin-left:100px">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div>
                <img src="/images/@Model.Image" class="rounded-circle" alt="Cinque Terre" width="100" height="100">
            </div>
            <br />
            <input hidden asp-for="@Model.CustomId"/>
            <div class="form-group" style="display:flex">
                <label asp-for="@Model.userName"  class="control-label" style="margin-right:30px;margin-top:5px"></label>
                <input asp-for="@Model.userName" value="@Model.userName" class="form-control" disabled style="background-color:white; border:none;"/>
                <span asp-validation-for="@Model.userName" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group" style="display:flex">
                <label asp-for="@Model.Address" class="control-label" style="margin-right:30px;margin-top:5px"></label>
                <input asp-for="@Model.Address" value="@Model.Address" class="form-control" disabled style="background-color:white; border:none" />
                <span asp-validation-for="@Model.Address" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group" style="display:flex">
                <label asp-for="@Model.Email" class="control-label" style="margin-right:30px;margin-top:5px"></label>
                <input asp-for="@Model.Email" value="@Model.Email" class="form-control" disabled style="background-color:white; border:none" />
                <span asp-validation-for="@Model.Email" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group" style="display:flex">
                <label asp-for="@Model.Phone" class="control-label" style="margin-right:30px;margin-top:5px"></label>
                <input asp-for="@Model.Phone" value="@Model.Phone" class="form-control" disabled style="background-color:white; border:none" />
                <span asp-validation-for="@Model.Phone" class="text-danger"></span>
            </div>
            <br />
            <div style="display:flex">
            <div class="form-group">
                <input type="button" value="Edit" class="btn btn-primary" id="edit"/>
            </div>
            <div class="form-group" style="margin-left:20px">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
            </div>
        </form>
    </div>
</div>
@section Scripts{
    <script>
        $('#edit').click(function () {
            $('input[type="text"]').removeAttr("disabled");
            $('input[type="text"]').removeAttr("style");
        });
    </script>
}



